[["antero-site-1" :site/url "https://www.anteroresources.com" 1 :add]
 ["antero-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["antero-site-1" :site/http-status 200 1 :add]
 ["antero-site-1" :site/title "Antero Resources Corporation (AR)" 1 :add]]
